.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow:hidden;
}

.page-bg {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://storage.googleapis.com/staging.tailor-1d71a.appspot.com/out1.gif');
    background-size: 100% 100%;
    background-size: cover;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.textcontainer {
    font-family: 'Reenie Beanie', sans-serif;
    z-index: 10;
}

.name {
    font-weight: lighter;
    font-size: 4.4em;
    color: white;
    padding: 0;
    margin: 0;
}
.video-js {
  position: absolute !important;
  opacity: 0.8;
  z-index: 0 !important;
  top: 0 !important;
}

.title {
    font-weight: lighter;
    font-size: 1.5em;
    color: white;
    padding: 0;
    margin: 0;
}

.slide-enter {
  transform: translate(0%);
}
.slide-enter.slide-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.slide-leave {
  transform: translate(0%);
}
.slide-leave.slide-leave-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}